@import "./../../styles/scss/variable";

.Subscribe {
  font-family: $fontRegular;
  background-color: $primaryColor;
  padding: 4em 6em;

  &Content {
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    max-width: 1440px;
  }

  &Header {
    flex: 2;

    h2 {
      font-family: $fontDemiBold;
      margin: 0;
      margin-bottom: 0.25em;
      font-size: 1.75em;
    }
  }

  &Form {
    flex: 1;

    input {
      display: block;
      outline: none;
      border: none;
      background-color: rgba($color: #ffffff, $alpha: 0.15);
      border-radius: 5px;
      width: 90%;
      font-size: 1.1em;
      color: $white;
      padding: 0.75em;
      margin: 0.5em 0 0.75em;
      font-family: $fontDemiBold;
    }
  }
}

.Button {
  outline: none;
  border: none;
  border-radius: 5px;
  color: $white;
  background-color: $btnPrimary;
  height: 45px;
  padding: 0 3em;
}
