.Navbar {
  &Content {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 1em;
    padding-top: 1em;

    img {
      width: 2.5em;
      // display: block;
    }
  }

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: space-between;
    border: 1.5px solid #e8ebee;
    border-right: 0;
    border-left: 0;
    margin: 0;

    // position: fixed;
    // z-index: 10;
    // width: 100%;
    // top: 0;

    li {
      font-weight: 500;
      padding: 1em 0;
      flex: auto;
      text-align: center;
      background: linear-gradient(0deg, white, white) no-repeat right bottom / 0
        var(--bg-h);
      transition: background-size 350ms;

      &:where(:hover, :focus-visible) {
        background-size: 100% var(--bg-h);
        background-position-x: left;
      }
      --bg-h: 2px;

      &.activeNav {
        background: linear-gradient(0deg, white, white) no-repeat right bottom /
          0 var(--bg-h);
        background-size: 100% var(--bg-h);
        background-position-x: left;
      }
    }
  }

  &Solid {
    background-color: #ffffff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

    ul {
      border-bottom: none;

      li {
        color: #778797;
      }

      .activeNav {
        background-color: #039341 !important;
        color: #ffffff;
      }
    }
  }

  @media screen and (max-width: 768px) {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    z-index: 100;
    min-height: 100vh;
    display: none;

    ul {
      flex-direction: column;
      height: max-content;
      border: 1px solid red;
      overflow-y: auto;

      li {
        width: 100%;
        padding: 0;
        animation: slideIn 0.5s linear;
        // border: 1px solid red;

        background: linear-gradient(0deg, #039341, #039341) no-repeat right
          bottom / 0 var(--bg-h);

        transition: background-size 350ms;

        &:nth-of-type(2) {
          animation-delay: 0.2s;
        }
        &:nth-of-type(3) {
          animation-delay: 0.4s;
        }
        &:nth-of-type(4) {
          animation-delay: 0.6s;
        }
        &:nth-of-type(5) {
          animation-delay: 0.8s;
        }
        &:nth-of-type(6) {
          animation-delay: 1s;
        }
        &:nth-of-type(7) {
          animation-delay: 1.2s;
        }
        &:nth-of-type(8) {
          animation-delay: 1.4s;
        }
        &:nth-of-type(9) {
          animation-delay: 1.6s;
        }
        &:nth-of-type(10) {
          animation-delay: 1.8s;
        }
        &:nth-of-type(11) {
          animation-delay: 2s;
        }

        a {
          display: block;
          width: 100%;
          padding: 1.5em 0;
          color: #778797;
        }
      }

      .activeNav {
        a {
          color: #039341;
        }

        background-color: #ffffff !important;
      }
    }
  }
}

@keyframes slideIn {
  0% {
    margin-left: 215%;
    background-size: 100% var(--bg-h);
    background-position-x: left;
    --bg-h: 2px;
  }

  100% {
    margin-left: 0;
  }
}
