.CommonHero {
  background-size: cover;
  background-position: center;

  .NavbarLight {
    ul {
      li {
        color: #ffffff;
      }
    }
  }

  &Info {
    margin: auto;
    text-align: center;
    padding: 8em 0;
    color: #ffffff;

    h1 {
      font-size: 3em;
    }

    span {
      font-weight: 500;
    }
  }

  @media screen and (max-width: 768px) {
    margin-top: 4.75em;
  }
}
