@font-face {
  font-family: "GolosTextWebRegular";
  src: url("./../../fonts/Regular/Golos\ Text_Regular.eot");
  src:
    url("./../../fonts/Regular/Golos\ Text_Regular.eot?#iefix") format("embedded-opentype"),
    url("./../../fonts/Regular/Golos\ Text_Regular.woff2") format("woff2"),
    url("./../../fonts/Regular/Golos\ Text_Regular.woff") format("woff"),
    url("./../../fonts/Regular/Golos\ Text_Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebMedium";
  src: url("./../../fonts/Medium/Golos\ Text_Medium.eot");
  src:
    url("./../../fonts/Medium/Golos\ Text_Medium.eot?#iefix") format("embedded-opentype"),
    url("./../../fonts/Medium/Golos\ Text_Medium.woff2") format("woff2"),
    url("./../../fonts/Medium/Golos\ Text_Medium.woff") format("woff"),
    url("./../../fonts/Medium/Golos\ Text_Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebDemiBold";
  src: url("./../../fonts/DemiBold/Golos\ Text_DemiBold.eot");
  src:
    url("./../../fonts/DemiBold/Golos\ Text_DemiBold.eot?#iefix") format("embedded-opentype"),
    url("./../../fonts/DemiBold/Golos\ Text_DemiBold.woff2") format("woff2"),
    url("./../../fonts/DemiBold/Golos\ Text_DemiBold.woff") format("woff"),
    url("./../../fonts/DemiBold/Golos\ Text_DemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebBold";
  src: url("./../../fonts/Bold/Golos\ Text_Bold.eot");
  src:
    url("./../../fonts/Bold/Golos\ Text_Bold.eot?#iefix") format("embedded-opentype"),
    url("./../../fonts/Bold/Golos\ Text_Bold.woff2") format("woff2"),
    url("./../../fonts/Bold/Golos\ Text_Bold.woff") format("woff"),
    url("./../../fonts/Bold/Golos\ Text_Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GolosTextWebBlack";
  src: url("./../../fonts/Black/Golos\ Text_Black.eot");
  src:
    url("./../../fonts/Black/Golos\ Text_Black.eot?#iefix") format("embedded-opentype"),
    url("./../../fonts/Black/Golos\ Text_Black.woff2") format("woff2"),
    url("./../../fonts/Black/Golos\ Text_Black.woff") format("woff"),
    url("./../../fonts/Black/Golos\ Text_Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
