@import "./font";

$fontRegular: "GolosTextWebRegular";
$fontMedium: "GolosTextWebMedium";
$fontDemiBold: "GolosTextWebDemiBold";
$fontBold: "GolosTextWebBold";
$fontBlack: "GolosTextWebBlack";

$primaryColor: #011d0d;
$btnPrimary: #039341;

$white: #ffffff;

$txtNeutral: #bbc3cb;
