@import "./scss/variable";
@import "./scss/grid_five";

.Analysis {
  &Sector {
    max-width: 1440px;
    margin: auto;

    &Title {
      margin-top: 1em;
      font-size: 2em;
    }

    &Info {
      width: 80%;
      color: #778797;
    }

    &Content {
      margin: 4em 0;
    }

    @media screen and (max-width: 768px) {
      margin: 7.5em auto 4em;

      &Info {
        width: 100%;
      }
    }
  }
}
