@import "scss/variable";

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: $fontRegular;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: $fontDemiBold;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.35;

  &::selection {
    background-color: #46b96c;
    color: #ffffff;
  }
}

blockquote::selection,
p::selection,
b::selection,
i::selection,
u::selection {
  background-color: #46b96c;
  color: #ffffff;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

ul {
  padding-inline-start: 0;

  li {
    list-style-type: none;
    color: #16191c;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

.publicationsSwiperCard {
  position: relative;

  .mySwiper {
    padding: 0 0.5em;
    box-sizing: border-box;
  }

  .swiper-slide,
  // .mySwiper,
  .swiper-slide-active {
    width: fit-content !important;
    min-width: 420px;
    max-width: 100%;
  }
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
