@import "./scss/variable";
@import "./scss/card_mixin";
@import "./scss/prev_noimg";
@import "./scss/grid_five";
@import "./scss/prev_image";

.Home {
  &Content {
    width: 90%;
    max-width: 1440px;
    margin: auto;

    &Sector {
      margin: 3em 0;
      &Title {
        font-family: $fontMedium;
        font-weight: 500;
        font-size: 2em;
        margin-bottom: .5em;
      }

      .PosersSector {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5em;
      }

      .TravailsSector {
        display: flex;
        gap: 4em;

        &Main {
          width: 70%;
        }

        &Section {
          .rCard {
            padding: 0.75em 0;

            gap: 1em;
            align-items: center;

            div {
              display: flex;
              flex-direction: column-reverse;

              span {
                margin-bottom: 0;
              }
            }
          }
        }
      }

      .AnalysisSector {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5em;

        &Section {
          gap: 1em;
          display: grid;
          grid-template-columns: 1fr 1fr;
        }
      }

      // .RebutalsSector {
      //   display: flex;
      //   gap: 2em;

      //   &Main {
      //     width: 80%;
      //   }

      //   &Extra {
      //     border-top: 1px solid $txtNeutral;

      //     .rCard {
      //       border-bottom: 1px solid $txtNeutral;
      //       padding: 0.75em 0;
      //     }
      //   }
      // }

      .QnASector {
        display: flex;
        gap: 3em;

        &Main {
          width: 70%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 1em;
        }

        &Section {
          h2 {
            font-weight: 500;
            font-family: $fontDemiBold;
          }

          .rCard {
            padding: 0.75em 0;

            gap: 1em;
            align-items: center;

            div {
              display: flex;
              flex-direction: column-reverse;

              span {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .Ad {
    background: linear-gradient(
        to right,
        #000000,
        transparent,
        transparent,
        transparent
      ),
      url("./../public/ad.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    padding: 3em 5em;
    margin: 3em auto;

    h2 {
      font-family: $fontDemiBold;
      color: $white;
      width: 12em;
    }

    button {
      outline: none;
      border: none;
      border-radius: 5px;
      color: $white;
      background-color: $btnPrimary;
      height: 40px;
      padding: 0 2em;
    }
  }
}
