// // import Swiper styles
// html,
// body {
//   position: relative;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }

.App {
  min-height: min(100vh, 775px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    font-size: 5em;
    color: #011d0d;
    opacity: 0.1;
    position: absolute;
    top: 0.95em;
  }

  @media screen and (max-width: 768px) {
    min-height: 60vh;
    margin-top: 4.75em;

    h1 {
      display: none;
    }
  }
}

// // Custom styles for demo
:root {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-inactive-color: #fff;
}

// .swiper{
//   background-color: red;
// }

.swiper-carousel {
  padding-bottom: 32px;
  max-width: 1200px;

  .swiper-slide {
    width: 520px;
    height: 380px;
    border-radius: 8px;
    // Slide background to match main background
    background: #18212b;
    max-width: calc(100% - 48px);
    font-size: 20em;
  }

  .swiper-pagination-bullets {
    bottom: 0;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 8px;
    // prettier-ignore
    -webkit-box-reflect: below 5px -webkit-linear-gradient(bottom,rgba(255,0,0,0.1) 0%,transparent 32px,transparent 100%);
  }

  .swiper-carousel-animate-opacity {
    height: 100%;

    span {
      display: block !important;
      width: 100% !important;
      height: 100% !important;
    }
  }

  .slide-content {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 88px 16px 24px;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75));
    border-radius: 0 0 8px 8px;

    h2 {
      margin: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 1.1;
    }

    p {
      margin: 8px 0 0;
      opacity: 0.65;
      font-size: 14px;
      font-weight: 500;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }

  // Hide navigation on narrow screens
  @media (max-width: 640px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: none !important;
    }
  }
}
