@import "./scss/variable";
@import "./scss/prev_image";

.Rebutals {
  &Sector {
    &Title {
      margin-top: 1em;
      font-size: 2em;
    }

    &Info {
      width: 75.5%;
      color: #778797;
    }

    &Content {
      margin: 4em 0;
    }

    @media screen and (max-width: 768px) {
      margin: 7.5em auto 4em;

      &Info {
        width: 100%;
      }
    }
  }
}
