@import "./scss/variable";
@import "./scss/prev_image";

.Travails {
  &Sector {
    max-width: 1440px;
    margin: auto;

    &Title {
      margin-top: 1em;
      font-size: 2em;
      color: #16191C;
    }

    &Info {
      width: 75.5%;
      color: #778797;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &Content {
      margin: 4em 0;
    }
  }
}
